*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainGrey: #ececec;
$mainWhite: #fff;
$mainOrange: #FF8C00;

body{
    background: $mainWhite;
    color: $mainBlack;
    font-family: 'Lato', sans-serif;

}